---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE } from '../config'
import { Image } from 'astro:assets'

export interface Props {
  content: {
    title: string
	heroImage?: string
	video?: string
	footerVideo?: string
  }
}

const {
  content: { title, heroImage, video, footerVideo }
} = Astro.props
---

<html lang="en">
	<Head title={title + ` / ${SITE_TITLE}`}></Head>
	<body>
		<section class="main-wrapper">
			<Header></Header>
			<main>
				<div>
					{
						heroImage && (
						  <Image
							width={611}
							height={320}
							src={heroImage}
							quality={70}
							alt=""
						  />
						)	
					}
					{
						video && (
						<video controls autoplay width="611">
						  <source src={video} type="video/mp4" />
						  Your browser does not support the video tag.
						</video>
						)
					}
				</div>
				<div class="title">{title}</div>
				<hr>
        		<slot></slot>
				{
					footerVideo && (
					<video controls autoplay width="611" class="footer-video">
					  <source src={footerVideo} type="video/mp4" />
					  Your browser does not support the video tag.
					</video>
					)
				}
				
			</main>
			<Footer></Footer>
		</section>
	</body>
</html>

<style>
	main {
		max-width: 38.2rem;
		margin-inline: auto;
	}
	.title {
		font-size: var(--size-700);
		margin-top: 1rem;
	}

	main > div:nth-child(1) {
		display: flex;
		justify-content: center;
	}

	video {
		width: 100%;
	}

	img {
		aspect-ratio: 5 / 3;
		object-fit: cover;
	}

	:global(a){
		text-decoration-style: solid;
		color: black;
	}

	:global(iframe) {
		width: 100%;
	  	height: 315px;
	  	border: none;
		object-fit: cover;
	}

	.zindex-video {
		position: relative;
		z-index: -1;
	}

	.footer-video {
		margin-top: 1rem;
	}
  
	@media (max-width: 600px) {
	  iframe {
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
	  }
	}
</style>